<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark ">
  <div class="container">
    <a class="navbar-brand" href="#">Clientes API REST</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <button class="btn btn-primary" routerLink="/cliente/form">Añadir cliente</button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" name="search-input" type="search" placeholder="Buscar" [(ngModel)]="queryStr" aria-label="Search">
        <button class="btn btn-info btn-outline-success" type="submit" (click)="onSearchQueryChanged()">Buscar</button>
      </form>
    </div>
  </div>
</nav>
